body {
  font-family: 'Roboto', sans-serif;
  /*background: #f5f5f5;*/
  font-size: 14px;
  /*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/pixel_weave.png")*/

  /*background-color: #c9c2ad;*/
  /*background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");*/
  /*background-image: url("https://www.transparenttextures.com/patterns/food.png");*/

  background-color: #b7b4ae;
  background-image: url(https://www.transparenttextures.com/patterns/use-your-illusion.png);

}

.container {
  padding: 0;
  background-color: #fff;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  min-height: 100vh;
}

header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(280deg, #008fe2 0, #009688 52%);
  margin: 0;
  height: 98px;
}

header.title {
  width: 33%;
}

header .info-new {
  background: #000;
}

.pointer {
  width: 360px;
  position: relative;
  background: black;
  padding: 20px;

  padding: 15px;
  font-weight: 100;
  color: #ddd;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid black;
  border-top: 100px solid transparent;
}

.report-title {
  font-weight: 400;
  font-size: 20px;
}

.browser-info  {
  font-size: 12px;
}

.info:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 100px solid #eee;
  border-top: 15px solid transparent;
  border-bottom:  5px solid transparent;
}

.info .browser-info, .info .run-time {
  font-size: 9px;
  font-weight: 100;
  color: #ddd;
  line-height: 12px;
}

.metrics {
  display: flex;
  width: 60%;
  padding: 20px;
}

.metric {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 6px;
}

.metric .title {
  text-align: right;
  font-size: 10px;
  font-weight: 100;
  text-transform: uppercase;
}

.metric .content {
  text-align: right;
  font-size: 10px;
}

.metric .metric-value {
  text-align: right;
  font-size: 24px;
}

@keyframes bar {
  from {width: 0;}
  to {width: 100%;}
}

.thin-progress-bar {
  height: 4px;
  display: -webkit-flex;
  display: flex;
  animation-name: bar;
  animation-duration: 3s;
}

@keyframes red-fade {
  from {background-color: white;}
  to {background-color: #cc0300;}
}

@keyframes green-fade {
  from {background-color: white;}
  to {background-color: #75cc68;}
}

.progress-red {
  background-color: #cc0300;
  animation-name: red-fade;
  animation-duration: 3s;
}

.progress-green {
  background-color: #03cc00;
  animation-name: green-fade;
  animation-duration: 3s;
}

time-chart {
  display: block;
}

.time-chart {
  margin-top: 10px;
  background-color: #fff;
  background-image: linear-gradient(whitesmoke 2px, transparent 2px), linear-gradient(90deg, whitesmoke 2px, transparent 2px), linear-gradient(#f5f5f5 1px, transparent 1px), linear-gradient(90deg, #f5f5f5 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.time-chart rect {
  fill: #21981d;
}

.time-chart rect.fail {
  fill:#c53f3f;
}

.float-chart {
  background-color: #fff;
  position: fixed;
  margin-top: 0;
  top: 0;
  padding-top: 10px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.no-tests {
  text-align: center;
  background: #eee;
  margin-top: 50px;
  border: 1px solid #ccc;
  font-size: 36px;
  padding: 50px;
}

.alert-image {
  width: 50px;
  height: 50px;
  float: left;
  margin: 25px 0px 0px 10px;
}

.first-fail {
  padding: 10px;
  background-color: #c53f3f;
  border-top: 2px solid #00;
  border-bottom: 4px solid #f5cccc;
  color: white;
  border-bottom: 3px solid #c7b8b8;
  width: 93%;
  float: right;
}

.first-fail .path {
  font-size: 14px;
  font-weight: 400;
}

.first-fail h4 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.first-fail .expect-fail {
  margin-left: 10px;
}

.msg {
  font-size: 14px;
  font-weight: 500;
}

.controls {
  display: inline-block;
  padding: 0 10px;
  width: 100%;
}

.controls label {
  float: right;
  margin: 0;
}

.suite {
  background: white;
  font-size: 13px;
  color: #34495e;
}
.all-specs .suite:not(:first-child) {
  margin: 10px 0;
}

.suite .path {
  font-size: 21px;
  font-weight: 600;
  padding: 8px;
  color: #fff;
  background-color: #1f9590;
  letter-spacing: 0.75px;
  width: 76%;
  display: inline-block;
}

.suite .suite-fail {
  background-color: #16929d;
  display: inline-block;
  width: 76%;
}

.suite .indicator {
  background-color: #c53f3f;
  height: 98%;
  width: 24%;
  float: right;
  display: inline-block;
  content: unset;
  font-size: 21px;
  font-weight: 600;
  padding: 8px;
  text-align: right;
  color: white;
}

.show-fail {
  background-color: green;
}

.spec {
  display: flex;
}

.spec:nth-child(odd) {
  background-color: #d8d8d8;
}

.spec .desc {
  padding: 8px 5px;
}

.spec .path {
  font-size: 11px;
  color: #888;
}

.expect {
  font-size: 12px;
  margin-left: 20px;
}

.expect-fail {
  padding-top: 5px;
  font-weight: 100;
}

.spec .desc {
  flex-grow: 1;
}

.spec .pass-fail-box {
  flex: 0 0 70px;
  text-align: center;
}

.spec .num-pass-expects {
  background: #edfbed;
  padding-top: 10px;
  height: 100%;
}

.spec .num-fail-expects {
  background-color: #f9e0e0 !important;
  background-image: url(https://www.transparenttextures.com/patterns/sneaker-mesh-fabric.png) !important;
  padding-top: 10px;
  height: 100%;
}

.spec .time-taken {
  padding-top: 10px;
  height: 100%;
  color: #888;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.spec .thumb {
  width: 100px;
  border: 2px solid transparent;
  padding: 10px;
}

.tooltip {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  width: 200px;
  padding: 5px;
  background: #eee;
  border: 1px solid #ccc;
}

.bar-selected {
  background-color: #f7f7f7;
}

.time-chart .bar-selected {
  fill: #ccc !important;
}

.controls .only-fail {
  margin-right: 5px;
  margin-top: 10px;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(https://7551bdfc54adf45425bb-e1819ba959867bdb3382b3652a5f5ff1.ssl.cf5.rackcdn.com/stickers/554/f92/1430321453_Meg_stickers_color042815_014.png) !important;
    text-align:center;
}

#lightbox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
    margin-top: 48px;
}
