body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 0;
}

header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header.title {
  width: 33%;
}

.report-title {
  margin-top: 10px;
  font-size: 18px;
}

.metrics {
  display: flex;
  width: 60%;
}

.metric {
  -webkit-flex: 1;
  flex: 1;
  padding: 6px;
}

.metric .title {
  text-align: right;
  font-size: 12px;
}

.metric .metric-value {
  text-align: right;
  font-size: 24px;
}

@keyframes bar {
  from {width: 0;}
  to {width: 100%;}
}

.thin-progress-bar {
  height: 4px;
  display: -webkit-flex;
  display: flex;
  animation-name: bar;
  animation-duration: 3s;
}

@keyframes red-fade {
  from {background-color: white;}
  to {background-color: #eb8c7f;}
}

@keyframes green-fade {
  from {background-color: white;}
  to {background-color: #75cc68;}
}

.progress-red {
  background-color: #eb8c7f;
  background-image: url(https://www.transparenttextures.com/patterns/black-twill.png);
  animation-name: red-fade;
  animation-duration: 3s;
}

.progress-green {
  background-color: #75cc68;
  background-image: url(https://www.transparenttextures.com/patterns/black-twill.png);
  animation-name: green-fade;
  animation-duration: 3s;
}

.time-chart {
  margin-top: 30px;
}

.time-chart rect {
  fill: steelblue;
}

.time-chart rect.fail {
  fill: red;
}

.no-tests {
  text-align: center;
  background: #eee;
  margin-top: 50px;
  border: 1px solid #ccc;
  font-size: 36px;
  padding: 50px;
}

.first-fail {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px;
  background: #fff8f8;
}

.suite {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 10px 0;
  padding: 5px;
  font-size: 12px;
}

.suite .path {
  font-size: 14px;
  padding: 10px 0;
  color: #888;
}

.spec .path {
  font-size: 11px;
  color: #888;
}

.first-fail h4 {
  color: #bf2f2f;
  font-size: 20px;
}

.spec .expect {
  font-size: 12px;
  margin-left: 20px;
}

.spec .expect-fail {
  color: red;
}

.spec .expect-pass {
  color: green;
}