<!doctype html>
<html ng-app="app">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script>
    function registerResult(result) {
      window.results = result;
    }
  </script>
  <script src="report-data.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="report.js"></script>
</head>
<body>
<div class="container" ng-controller="ReportController">
  <header>
    <div class="title">DSP 2.0 Test Report</div>

    <div class="metric">
      <div class="title">Suites</div>
      <div class="metric-value">{{suite}}</div>
    </div>

    <div class="metric">
      <div class="title">Test Cases</div>
      <div class="metric-value">{{testCase}}</div>
    </div>

    <div class="metric">
      <div class="title">Expectations</div>
      <div class="metric-value">{{expectations}}</div>
    </div>

    <h3>Data:</h3>

    <div ng-repeat="suite in results.suites">

      <table>
        <TH><h3><b>Test Cases</b></h3></TH>
        <TH><h3><b>Result</b></h3></TH>
        <tr ng-repeat="spec in suite.specs">
          <td>{{spec.fullName}}</td>
          <td>{{spec.status}}</td>
        </tr>
      </table>
    </div>
  </header>
</div>
</body>
</html>